#navbar-example2 {
    background-color: #191970;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

#about {
    margin-top: 100px;
    text-align: center;
}

.card {
    text-align: center;
}

.card-body {
    padding: 3rem;
}

.card-header{
    font-size: 30px;
}

.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#link {
    text-align: center;
}