#navbar-example2 {
    background-color: #191970;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

#about {
    margin-top: 100px;
    text-align: center;
}

.card {
    text-align: center;
}

.card-header{
    font-size: 30px;
}

.center {
    display: block;
    margin-top: 50px;
    margin-left: 530px;
    margin-right: 530px;
    margin-top: 20px;
    width: 50%;
}

#link {
    text-align: center;
}